html, body {
  font-family: Georgia, 'Noto Serif', serif;
  font-size: 18px;
  line-height: 36px;
  background-color: #ffffff;
  color: #2d2d2d;
}

a {
  color: #2d2d2d;
  text-decoration: none;
  border-bottom: 1px dotted #929292;
}

.home-container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px
}

.home-links {
  margin-top: 40px;
}

.home-links ul {
  margin: 0;
  padding: 0;
  margin-left: -15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home-links ul li {
  list-style: none;
  margin-left: 3px;
  margin-right: 3px;
}

.home-links ul li:not(:last-child):after {
  content: " \00b7";
}

.home-content {
  margin-top: 30px;
}

.home-contact {
  color: #686868;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: -15px;
  text-align: center;
}
