<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zach Latta</title>
    <link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">
    {% include analytics.html %}
  </head>
  <body>
    {{ content }}
    <!-- Load Noto Serif async for Linux compatibility, since Georgia is not
      available on Linux -->
    <script>
      WebFontConfig = {
        google: {
          families: ['Noto Serif']
        }
      };

      (function(d) {
        var wf = d.createElement('script'), s = d.scripts[0];
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
        wf.async = true;
        s.parentNode.insertBefore(wf, s);
      })(document);
    </script>
  </body>
</html>
