---
layout: default
---

<div class="home-container">
  <div class="home-links">
    <ul>
      <li><a href="https://hackclub.com">hack club</a></li>
      <li><a href="https://github.com/zachlatta">github</a></li>
      <li><a href="https://twitter.com/zachlatta">twitter</a></li>
      <li><a href="/quoteblog.html">quoteblog</a></li>
    </ul>
  </div>
  <div class="home-content">
    {{ content }}
  </div>
  <div class="home-contact">
    <a href="mailto:zach@zachlatta.com">zach@zachlatta.com</a>
  </div>
</div>
